<html>
        <% include header.ejs %>
    <body class="container">
        <div class="page-header">
            <h1>Simple Weight-System</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
                <form action="/ponder09" method="post">
                    <div>
                        <label>Weight:</label>
                        <input type="text" name="weight"/>
                    </div>
                    <div>
                        <label for="thetype">Type</label>
                            <select id="thetype" name="thetype">
                            <option value="" selected>Please choose</option>
                            <option value="1">Letters (Stamped)</option>
                            <option value="2">Letters (Metered)</option>
                            <option value="3">Large Envelopes (Flats)</option>
                            <option value="4">First-Class Package Service—Retail</option>
                            </select>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Get Price"/>
                    </div>
                </form>                  
            </div>          
        </div>
    </body>
</html>