<% include header.ejs %>
	<body class="subpage">
	<div id="main">

	<div class="top1">
		<% include menubar.ejs %>
	</div>

	


	<% include guiabar.ejs %>
	

	<div id="content">
	<div class="container">
	<div class="row">
			
	

	 	<div class="col-lg-3">
			<!--   THE selection Menu WIll be Here -->
			<% include selectsearch.ejs %>
			<!--- < include catlist.ejs %> -->
	
		
		</div>	
	
		<div class="col-lg-9">
				<div>
						<div class="results" id=results></div>
						<!--  Host Side templating Javascript-->
                        <script id="search-results" type="text/x-handlebars-template">
                            {{#each resultsArray}}
                              <li><a href={{keydate}}>{{title}}</a><br>{{description}}></li>
                            {{/each}}
                            <br>
                            </ul>
						</script>
						
                </div>
	 <!---// creates a container for the transaction form  -->
	 <div id="myDiv">

	 </div>
	<!--- < include content.ejs >
	< include viewslist.ejs >
    //ends the transaction form container -->


 

	</div>   <!--//end the navigation bar -->

	</div>	
	</div>	
	</div>



 

<div class="bot1">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="bot1_inner">
	<% include footer.ejs %>

</div>	
</div>	
</div>








	
</div>

<script src="js/mydatepick.js"></script>
<script>
		$(function(){
  var source = $("#search-results").html();
  var dataTemplate = Handlebars.compile(source);
  $results = $('#results')
				$( "#search" ).click(function() {
					var parameters = { search: $(this).val() };
					$.get( '/searching',parameters, function(data) {
						var data2 = jQuery.parseJSON(data);
						if (data2 instanceof Array) {
							$results.html( dataTemplate({resultsArray:data2}) ); 
						} else {
							$results.html(data2);
						};
					});
					});
				});
</script>
<script>
$("#mybutton").click(function() {
	$("#myDiv").html("");
	
	var layout = {
  barmode: 'stack',
  title: 'Cashflow',
  showlegend: true,
  xaxis: {
    tickangle: -45
  },
  yaxis: {
    zeroline: true,
    gridwidth: 2
  }
  
};
	var parameters = { category_select: $("#category_select").val(),
		period_select: $("#period_select").val()
	};
//alert('VAL: '+ $("#category_select").val());
	$.get( '/getgraphcashflow',parameters, function(data) {
		//alert (data.length);
		if (data.length > 0)
		Plotly.newPlot('myDiv', data, layout, {showSendToCloud:true});	
	});







});
</script>
<script>

	$(document).ready(function() {	
//		
	
	}); //
	$(window).load(function() {
		//
	//Get a reference to the link on the page
		// with an id of "mylink"
		var a = document.getElementById("mylink");

		//Set code to run when the link is clicked
		// by assigning a function to "onclick"
		a.onclick = function() {

		// Your code here...

		//If you don't want the link to actually 
		// redirect the browser to another page,
		// "google.com" in our example here, then
		// return false at the end of this block.
		// Note that this also prevents event bubbling,
		// which is probably what we want here, but won't 
		// always be the case.
		message = 'Are you sure?';
        return confirm(message);
		}
	}); //

	
	</script>	
</body>
</html>