<% include header.ejs %>
	<body class="subpage">
	<div id="main">

	<div class="top1">
		<% include menubar.ejs %>
	</div>

	


	<% include guiabar.ejs %>
	

	<div id="content">
	<div class="container">
	<div class="row">
			
	

	 	<div class="col-lg-3">
			<!--   THE selection Menu WIll be Here -->
			<% include selectsearch.ejs %>
			<!--- < include catlist.ejs %> -->
	
		
		</div>	
	
		<div class="col-lg-9">
				<!---// creates a container for the transaction form  -->
	 			<div id="graphDiv"></div>
				<div>
						
						<div class="results" id=results>
								
						</div>

										
					
                </div>
	 

	 </div>
	<!--- < include content.ejs >
	< include viewslist.ejs >
    //ends the transaction form container -->


 

	</div>   <!--//end the navigation bar -->

	</div>	
	</div>	
	</div>



 

<div class="bot1">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="bot1_inner">
	<% include footer.ejs %>

</div>	
</div>	
</div>
	
</div>

<script src="js/mydatepick.js"></script>

<script>

function getbackgroundTD(operation){
	//credit
	if(operation == 0){
			tableData = '<td class="bg-success">';
		}
		//debit
		if(operation == 1){
			tableData = '<td class="bg-danger">';
		}
		//informative
		if(operation == 2){
			tableData = '<td class="bg-info">';
		}
		return tableData;
}
function CreateTableFromJSON(data){


	var tableData = '<table class = "table table-sm table-dark"><thead class="thead-dark"><tr><th rowspan="2">Id</th><th rowspan="2">Icon</th><th style="width: 150px">Due-Date</th><th>Status</th><th>Amount</th>';
		tableData += '<tr><th style="width: 150px">Payment-Date</th><th colspan="2">Description</th></tr></thead>';
	$.each(data, function(index, data) {
		tableData += '<tr >';
		
			tableData += '<td rowspan="2"  class="clickable-row" data-href="https://globo.com"  style="text-align: center; vertical-align: middle;" >'+index+'</td>';
			tableData += '<td rowspan="2"> <img class="trans_icon" src="/images/'+data.icon.trim()+'" alt="'+data.alias+'"></td>';
			tableData +=  getbackgroundTD(data.operation)+data.duedate+'</td>';
			//status
			tableData += getbackgroundTD(data.operation);
					if(data.status == 1 && data.operation ==0){
						tableData += "RECEIVED";
					}
					if(data.status == 1 && data.operation ==1){
						tableData += "PAID";
					}
					if(data.status == 0 && data.operation ==0){
						tableData += "UNRECEIVED";
					}
					if(data.status == 0 && data.operation ==1){
						tableData += "UNPAID";
					}
			tableData += '</td>';
			tableData += getbackgroundTD(data.operation)+"$  " +data.amount.toFixed(2)+'</td>';
			if(data.operation == 0){
					tableData += '<tr class="bg-success">';
				}
				//debit
				if(data.operation == 1){
					tableData += '<tr class="bg-danger">';
				}
				//informative
				if(data.operation == 2){
					tableData += '<tr class="bg-info">';
				}
			
					tableData += '<td>'+data.paymentdate+'</td>';
					
					tableData += '<td colspan = "2">'+data.description+' </td>';
			tableData += '</tr>';
	});

	$('#results').html(tableData);

};

$("#container").on('click-row.bs.table', function (e, row, $element) {
    window.location = $element.data('href');
});	

$("#mybutton").click(function() {
	$("#graphDiv").html("");
	
	var layout = {
					barmode: 'stack',
					
					title: 'Cashflow',
					showlegend: true,
					xaxis: {
						tickangle: -45
					},
					yaxis: {
						zeroline: true,
						gridwidth: 2,
						range: [-60, 50],
						exponentformat: 'e',
						showexponent: 'all'
					}
					
				};
	var parameters = { category_select: $("#category_select").val(),
		period_select: $("#period_select").val()
	};
	
 
	$results = $('#results')
	//alert('VAL: '+ $("#category_select").val());
	$.get( '/getgraphcashflow',parameters, function (data) {
		//alert (data.length);
		
		if (data.length > 0){
		//1 get the transactions from the data array
		var transactions = data.pop();
		CreateTableFromJSON(transactions);
		//if (transactions instanceof Array) {
		//					$results.html( dataTemplate({resultsArray:transactions}) ); 
		//				} else {
		//					$results.html(transactions);
		//				};
		//2 - plot the graph
		Plotly.newPlot('graphDiv', data, layout, {showSendToCloud:true});
		}	
	});







});
</script>
<script>


	jQuery(document).ready(function($) {
//		
	$(".clickable-row").click(function() {
        alert("click");
        window.document.location = $(this).data("href");
    });
	}); //
	$(window).load(function() {
		//
	//Get a reference to the link on the page
		// with an id of "mylink"
		var a = document.getElementById("mylink");

		//Set code to run when the link is clicked
		// by assigning a function to "onclick"
		a.onclick = function() {

		// Your code here...

		//If you don't want the link to actually 
		// redirect the browser to another page,
		// "google.com" in our example here, then
		// return false at the end of this block.
		// Note that this also prevents event bubbling,
		// which is probably what we want here, but won't 
		// always be the case.
		message = 'Are you sure?';
        return confirm(message);
		}
	}); //

	
	</script>	
</body>
</html>