<div class="row">
	<div class="col-lg-3">

		<div class="block_title">information</div>

		<ul class="ul0">
		<li><a href="https://content.byui.edu/file/14882098-ce1f-44ba-a196-a7aebcb3d5ce/1/week04/prove.html">Prove 04</a></li>
		<li><a href="https://content.byui.edu/file/14882098-ce1f-44ba-a196-a7aebcb3d5ce/1/week05/prove.html">Prove 05</a></li>
		<li><a href="https://content.byui.edu/file/14882098-ce1f-44ba-a196-a7aebcb3d5ce/1/week06/prove.html">Prove 06</a></li>
			                                                                                
		</ul>

	</div>
	<div class="col-lg-3">

		<div class="block_title">support</div>

		<ul class="ul0">
		<li><a href="index-5.php">Contact EzFin Support</a></li>
		<li><a href="https://byui.instructure.com/courses/66276">Web Engineering II</a></li>
			                                                                                	  
		</ul>

	</div>
	<div class="col-lg-3">

		<div class="block_title">downloads</div>

		<ul class="ul0">
		<li><a href="https://github.com/rasputtim/cs313-ezfin">From GitHub</a></li>
		<li><a href="https://sleepy-fortress-71203.herokuapp.com/">From Personal Web Page</a></li>
			
		</ul>

	</div>
	<div class="col-lg-3">

		<div class="block_title">getting started</div>

		<div class="phone1">
			<div class="txt1">Have Questions? </div>
			<div class="txt2"><a href="index-5.php">contact us</a></div>
		</div>

		<ul class="ul0">
		<li><a href="index-5.php">Our Location</a></li>
			                                                                                  
		</ul>

	</div>	
	</div>
		<footer>
		<div class="copyright"><a href="#">Privacy policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://sleepy-fortress-71203.herokuapp.com/">Cs313 Personal Web</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Copyright © 2019. All rights reserved</div>
		</footer>
	</div>	
</div>	