<% include header.ejs %>
	<body class="subpage">
	<div id="main">

	<div class="top1">
		<% include menubar.ejs %>
	</div>

	


	<% include guiabar.ejs %>
	

	<div id="content">
	<div class="container">
	<div class="row">
			
	<div class="col-lg-9">
	 <!---// creates a container for the transaction form 
	 


	<% include content.ejs %>
	
   <!--- //ends the transaction form container -->

	</div>   <!--//end the navigation bar -->

	 <div class="col-lg-3">
      <!--- //ends the transaction form container 
			< include catlist.ejs >
	
		-->
		</div>	
		</div>	
		</div>	
		</div>
<!--   START SLIDER CONTAINER-->
		<div id="slider4_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="slider4">
							<div class="slider4-title">CATEGORIES MOST USED</div>
								<div class="slider4_wrapper2">
									<a class="prev4" href="#"></a>
									<a class="next4" href="#"></a>
									<div class="carousel-box row">
										<div class="inner col-lg-12">			
											<div class="carousel main">
												   	<% include catmostused.ejs %> 
												
											</div>
										</div>
									</div>	
								</div>
							</div>	
						</div>	
					</div>	
				</div>	
			</div>
			

 <!--   END SLIDER CONTAINER-->

<div class="bot1">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="bot1_inner">
	<% include footer.ejs %>

</div>	
</div>	
</div>








	
</div>

<script src="js/mydatepick.js"></script>

<script>

	$(document).ready(function() {	
		//	carouFredSel
		$('#slider4 .carousel.main ul').carouFredSel({
			auto: {
				timeoutDuration: 8000					
			},
			responsive: true,
			prev: '.prev4',
			next: '.next4',
			width: '100%',
			scroll: {
				items: 1,
				duration: 1000,
				easing: "easeOutExpo"
			},			
			items: {
				width: '350',
				height: 'variable',	//	optionally resize item-height			  
				visible: {
					min: 1,
					max: 4
				}
			},
			mousewheel: false,
			swipe: {
				onMouse: true,
				onTouch: true
				}
		});
		$(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
		function updateSizes_vat(){		
			$('#slider4 .carousel.main ul').trigger("updateSizes");
		}
		updateSizes_vat();
	
	
	
	
	
	}); //

	$(window).load(function() {
		//
	//Get a reference to the link on the page
		// with an id of "mylink"
		var a = document.getElementById("mylink");

		//Set code to run when the link is clicked
		// by assigning a function to "onclick"
		a.onclick = function() {

		// Your code here...

		//If you don't want the link to actually 
		// redirect the browser to another page,
		// "google.com" in our example here, then
		// return false at the end of this block.
		// Note that this also prevents event bubbling,
		// which is probably what we want here, but won't 
		// always be the case.
		message = 'Are you sure?';
        return confirm(message);
		}
	}); //

	
	</script>	
</body>
</html>

