<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="top1_inner clearfix">
<div class="top1_inner_bg"></div>
<header><div class="logo_wrapper"><a href="index.php" class="logo"><img class="llogo" src="images/logo.png" alt=""></a></div></header>
<% include navbar.ejs %>

</div>	
</div>	
</div>	
</div>	
