<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
      
	  <li><a href="/">Home</a></li>
	  <!--   <li><a href="/signup">Sign Up</a></li> -->
		<li><a href="/home">Dashboard</a></li>

			<li><a href="/login">Log In</a></li>
			<li><a href="/logout">Log Out</a></li>


    </ul>
		</div>
	</div>
</div>