<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
      
	  
	  <!--   <li><a href="/signup">Sign Up</a></li> -->
		<li><a href="http://cryptic-beyond-10470.herokuapp.com" target="_blank">EzFin</a></li>
		<li class="nav-item <%=  index3_active %>"><a href="/">Home</a></li>
		<li class="nav-item <%=  index4_active %>"><a href="/login">Log In</a></li>
		<li><a href="/logout">Log Out</a></li>


    </ul>
		</div>
	</div>
</div>