<div class="search-form-wrapper clearfix">

    <form id="search-form" action="#" accept-charset="utf-8" class="my-form-comp clearfix" method="post" >
        
        <div class="container">
                <div>
                        
                        <input id="search" class="search" type="button" name="search" value="Get Data:">
                </div>
                <div class="row">
                        <h1>Select &raquo; Period &raquo; </h1>
                </div>
                <div class="row">
                        <h2> HERE IS THE SELECT 1</h2>
                                             
                       <%- select_views %>
                    <!--echo print_select_from_sql ('SELECT idbalview, title FROM public.ezfin_balanceview', 'driver',
                                    $period, '', "Period", '', true, 0, false, '');-->
                </div>
            <div class="row">
                <h1>Select &raquo; Category &raquo;</h1>
            </div>
            <div class="row">
            <!--echo print_select_from_sql ('SELECT idbalview, title FROM public.ezfin_balanceview', 'driver',
                            $period, '', "Period", '', true, 0, false, '');  -->
                            <h2> HERE IS THE SELECT 2</h2>
            </div>';
            
            
        </div>
      
        

    </form>
    
</div>