<div class="search-form-wrapper clearfix">

    <form id="search-form" action="" accept-charset="utf-8" class="my-form-comp clearfix" method="post" >
        
        <div class="container">
              <!--  <div>
                        
                        <input id="search" class="search" type="button" name="search" value="Search" onmouseout="if(this.value=='') this.value='Search'" onmouseover="if(this.value =='Search' ) this.value=''">
                </div>-->
                <div class="row">
                                                  
                    <label >Select Period:</label>
      
                </div>
                <div class="row">
                                 <br>                                   
                       <%- select_views %>
                   
                </div>
                <div class="row">
                    <span></span>                            
                  <label > </label>
    
              </div>
                <div class="row">
                                                
                    <label >Select Category:</label>
      
                </div>

            <div class="row">
                <!-- <h2>Select &raquo; Category &raquo;</h2> -->
            </div>
            <div class="row">
                    <br>  
                    <%- select_categories %>
            
                            
            </div>';
            <div class="row">
                <button class="btn btn-primary" type="button" id="mybutton">Get Graph</button> 
            </div>
        </div>
      
        

    </form>
    
</div>