<% include header.ejs %>
	<body class="subpage">
	<div id="main">

	<div class="top1">
		<% include menubar.ejs %>
	</div>

	


	<% include guiabar.ejs %>
	

	<div id="content">
	<div class="container">
	<div class="row">
			
	

	 	<div class="col-lg-3">
			<!--   THE selection Menu WIll be Here -->
			<% include selectsearch.ejs %>
			<!--- < include catlist.ejs %> -->
	
		
		</div>	
	
		<div class="col-lg-9">
				
	 <!---// creates a container for the transaction form  -->
	 <div id="myDiv">

	 </div>
	 <div>
			<div class="results" id=results></div>
			<!--  Host Side templating Javascript-->
			
			
	</div>
	<!--- < include content.ejs >
	< include viewslist.ejs >
    //ends the transaction form container -->


 

	</div>   <!--//end the navigation bar -->

	</div>	
	</div>	
	</div>



 

<div class="bot1">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="bot1_inner">
	<% include footer.ejs %>

</div>	
</div>	
</div>








	
</div>

<script src="js/mydatepick.js"></script>

<script>

function getbackgroundTD(operation){
	//credit
	if(operation == 0){
			tableData = '<td class="bg-success">';
		}
		//debit
		if(operation == 1){
			tableData = '<td class="bg-danger">';
		}
		//informative
		if(operation == 2){
			tableData = '<td class="bg-info">';
		}
		return tableData;
}

function CreateTableFromJSON(data){

	
var tableData = '<table class = "table table-bordered table-condensed table-striped table-hover table-sm table-dark">';
	tableData += '<thead class="thead-dark"><tr><th rowspan="2">Id</th><th rowspan="2">Icon</th><th style="width: 150px">Name</th><th>Alias</th><th>Operation</th>';
	tableData += '<tr class="table-row" ><th style="width: 150px">Total Amount</th><th colspan="2">Description</th></tr></thead>';
$.each(data, function(index, data) {
	tableData += '<tr class="table-row" >';
	
		tableData += '<td rowspan="2"  style="text-align: center; vertical-align: middle;" >'+index+'</td>';
		tableData += '<td rowspan="2"> <img class="trans_icon" src="/images/'+data.icon.trim()+'" alt="'+data.alias+'"></td>';
		tableData +=  getbackgroundTD(data.operation)+data.name+'</td>';
		//status
		tableData += getbackgroundTD(data.operation)+data.alias+'</td>';;
				
		tableData += getbackgroundTD(data.operation);
		if(data.operation ==0){
					tableData += "CREDIT";
				}
				if(data.operation ==1){
					tableData += "DEBIT";
				}
				if(data.operation ==2){
					tableData += "INFORMATIVE";
				}
				
		tableData += '</td>';
		if(data.operation == 0){
				tableData += '<tr  class="table-row bg-success" >';
			}
			//debit
			if(data.operation == 1){
				tableData += '<tr  class="table-row bg-danger">';
			}
			//informative
			if(data.operation == 2){
				tableData += '<tr class="table-row bg-info">';
			}
		
				tableData += '<td> $ '+data.value.toFixed(2)+'</td>';
				
				tableData += '<td colspan = "2">'+data.description+' </td>';
		tableData += '</tr>';
		
});

$('#results').html(tableData);

};

$("#mybutton").click(function() {
	$("#myDiv").html("");
	var layout = {
  title: 'Spends by Category',
  grid: {rows: 1, columns: 2},
  showlegend: true,
  annotations: [
    {
      font: {
        size: 14
      },
      showarrow: false,
      text: 'Cred',
      x: 0.17,
      y: 0.5
    },
    {
      font: {
        size: 14
      },
      showarrow: false,
      text: 'Deb',
      x: 0.82,
      y: 0.5
    }
  ]
};
	var parameters = { category_select: $("#category_select").val(),
		period_select: $("#period_select").val()
	};
//alert('VAL: '+ $("#category_select").val());
	$.get( '/getgraphdata',parameters, function(data) {
		//alert (data.length);
		if (data.length > 0){
		var transactions = data.pop();
		CreateTableFromJSON(transactions);
		Plotly.newPlot('myDiv', data, layout, {showSendToCloud:true});
		}	
	});







});
</script>
<script>

	$(document).ready(function() {	
//		
	
	}); //
	$(window).load(function() {
		//
	//Get a reference to the link on the page
		// with an id of "mylink"
		var a = document.getElementById("mylink");

		//Set code to run when the link is clicked
		// by assigning a function to "onclick"
		a.onclick = function() {

		// Your code here...

		//If you don't want the link to actually 
		// redirect the browser to another page,
		// "google.com" in our example here, then
		// return false at the end of this block.
		// Note that this also prevents event bubbling,
		// which is probably what we want here, but won't 
		// always be the case.
		message = 'Are you sure?';
        return confirm(message);
		}
	}); //

	
	</script>	
</body>
</html>