
<h2>category List</h2>

<ul class="ul1">
    
    <li><a href="inccats.php?update='.$row['idcat'].'">TESTE</a></li>
    <li><a href="inccats.php?update='.$row['idcat'].'">TESTE</a></li>
    <li><a href="inccats.php?update='.$row['idcat'].'">TESTE</a></li>
    <li><a href="inccats.php?update='.$row['idcat'].'">TESTE</a></li>                                                   
</ul>
